#algoContainer {
  font-family: $sanchez;
  width: 100%;
  height: 90vh;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#algoHeader {
  display: flex;
  flex-direction: column;
  font-family: $sanchez;
  padding: 10px 30px;
  width: 40%;
  height: 20vh;
  margin: 20px 0px -50px 14%;
}

.codeAndTest {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#codeEditorContainer {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;

  // themes selector bar
  #themes {
    width: 15%;
    height: 72%;
    margin: 0px 10px 0px 0px;
    background-color: rgb(231, 230, 230);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px #aaa9a9;

    #themeHeader {
      font-size: 20px;
      color: rgb(54, 54, 54);
    }

    .themesList {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    #code-theme {
      margin: 20px auto;
      border: 1px solid white;
      background-color: white;
      color: $purple;
      border: none;
      border-radius: 5px;
      padding: 7px 5px;
      box-shadow: 2px 2px 4px #aaa9a9;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: $purple;
      }
    }
  }
}

#testContainer {
  font-family: $sanchez;
  display: flex;
  flex-direction: column;
  align-items: center;

  #test-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 3px 3px 5px #aaa9a9;
  }

  .algoButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .algoButtons {
    font-size: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $purple;
    box-shadow: 3px 3px 5px #aaa9a9;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }
}
