@import './_fonts.scss';
@import './_colors.scss';
@import './navbar.scss';
@import './signup.scss';
@import './login.scss';
@import './dashboard.scss';
@import './algos.scss';
@import './codeEditor.scss';
@import './createAlgo.scss';

body {
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  background-color: #fffeff;
}
