#loginContainer {
  font-family: $sanchez;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // margin: 20vh auto 0px auto;
  // background-color: rgb(199, 197, 197);
  // background-image: linear-gradient(180deg, white, $purple);

  #loginHeaders {
    width: 40%;
    height: 20%;
    margin: 10vh auto 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background-color: rgb(214, 214, 214);

    #loginWelcome {
      font-size: 50px;
      margin: 0px 0px;
      // color: $purple;
    }

    #loginInstructions {
      font-size: 35px;
      margin: 0px 0px;
      // color: blue;
    }
  }
}

.loginForm {
  // background-image: linear-gradient(white, $purple);
  border: 1px solid #cecccc;
  border-radius: 5px;
  width: 40%;
  height: 30vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px #aaa9a9;

  .formLabel {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .formInput {
    width: 50%;
    height: 3vh;
    margin-bottom: 10px;
    // border: none;
    // border-radius: 5px;
    &:focus {
      outline: none;
    }
  }

  #loginButton {
    width: 25%;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    // background-color: #dfdddd;
    color: white;
    background-color: $purple;
    box-shadow: 3px 3px 5px #aaa9a9;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
    &:focus {
      outline: none;
    }
  }
}
