.navBar {
  font-family: $sanchez;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $purple;

  .navLogo {
    height: 50%;
    margin-left: 40px;
  }

  .rightLinks {
    // background-color: orange;
    width: 35%;
    display: flex;
    justify-content: space-between;
  }

  .navLinks {
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    // font-weight: bold;
    margin-right: 50px;
    // color: rgb(255, 255, 35);
    color: white;

    &:visited {
      // color: rgb(255, 255, 35);
      color: white;
    }

    &:hover {
      color: rgb(248, 248, 0);
      font-weight: bold;
      // font-size: 37px;
    }

    &:active {
      // color: blue;
    }
  }
}
