#signupContainer {
  font-family: $sanchez;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  #signupHeaders {
    width: 40%;
    height: 20%;
    margin: 10vh auto 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #newUser {
      font-size: 50px;
      margin: 0px 0px;
    }

    #newUserSub {
      font-size: 35px;
      margin: 0px 0px;
    }
  }
}

.signupForm {
  border: 1px solid #cecccc;
  border-radius: 5px;
  width: 40%;
  height: 30vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px #aaa9a9;

  .formLabel {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .formInput {
    width: 50%;
    height: 3vh;
    margin-bottom: 10px;
    // border: none;
    // border-radius: 5px;
  }

  #signupButton {
    width: 25%;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $purple;
    box-shadow: 3px 3px 5px #aaa9a9;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }
}

*:focus {
  outline: none;
}
